
		/*		All Page, container		*/


body{

	background-color: black;
	font-family: Verdana;

	overflow-x: hidden;

}


.container{

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 80vw;
	height: 100%;

	margin-left: auto;
	margin-right: auto;

	background-color: black;
		
}


		/*		Navigation		*/


nav{

	display: flex;
	flex-direction: row;
	justify-content: end;

	width: 75vw;
	color: white;
	
}


nav > ul{

	display: flex;
	flex-direction: row-reverse;
	width: 50vw;
	justify-content: space-around;
	flex-wrap: wrap;
	

}


nav > ul > li{
	
	padding: 8px;
	font-weight: 700;
	flex-shrink: 0;

	list-style: none;
	letter-spacing: 1px;
	
	transition: 0.3s;
	border-radius: 5px;

}


a > li:hover{

	cursor: pointer;
	background-color: #303030;

}


a > li{

	padding: 8px;
	font-weight: 700;
	flex-shrink: 0;

	list-style: none;
	letter-spacing: 1px;
	
	transition: 0.3s;
	border-radius: 5px;
	color: white;
	text-decoration: none;

}


a{

	text-decoration: none;

}


section{

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 80vw;
	height: 100%;
	margin-top: 5vw;
	margin-bottom: 5vw;
	margin-left: auto;
	margin-right: auto;

	border: 1px solid aliceblue;
	padding-top: 3vw;
	padding-bottom: 3vw;

	color: white;

}


section > p{

	width: 60vw;
	text-align: center;

}


section > h1{

	width: 70vw;
	color: rgb(255, 209, 183);
	text-align: center;

}


		/*		Clickabe photos, main article		*/


.onclick-info{

	display: flex;

	position: fixed;

	width: 100vw;
	height: 100vh;
	margin-left: -10vw;
	margin-top: -5vw;
	overflow-y: scroll;

	background-color: rgba(0, 0, 0, 0.959);

	display: none;

}


.info-all-stars{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 10vw;
	font-size: clamp(16px, 1.4vw, 20px);
	

}


.info-star1, .info-star2, .info-star3, .info-star4, .info-star5, .info-star6{

	display: none;

}


.info-star1-jpg{

	width: clamp(250px, 30vw, 600px);
	height: auto;

}


.onclick-info-close-button{

	width: 40px;
	height: 50px;

	margin-top: 10vw;
	margin-left: -77vw;

	cursor: pointer;
	font-size: 40px;
	border: none;
	color: white;
	background-color: black;

	display: block;

}


.infosun-style{

	width: 30vw;

	color: green;

}


article{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;


	margin-top: 3vw;
	background-color: black;
	
}


.article-box{

	width: clamp(300px ,20vw, 400px);

	margin: 3vw 2vw;

}

.foto{

	width: clamp(300px ,20vw, 400px);
	
	border: 1px solid gray;
	transition: 0.3s;

}


.foto:hover{
	
	width: clamp(320px ,22vw, 440px);
	
	margin: -1vw;

	cursor: pointer;

}


		/*	Media Screen and keyframes	*/



@media screen and (max-width: 1200px) {
	
	
nav{

	justify-content: start;
	
	width: 100vw;
	
}


nav > ul{

	width: 80vw;

}


nav > ul > li{

	

}

}


@media screen and (max-width: 900px) {

	nav{

		justify-content: start;
		
		width: 100vw;
		
	}


	nav > ul{

		width: 30vw;
		flex-direction: column;
	
	}
	

}


@media screen and (max-width: 600px) {

	nav{

		justify-content: start;
		
		width: 100vw;
		
	}


	nav > ul{

		width: 50vw;
		flex-direction: column;
	
	}
	

}